<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Adding external css file-->
    <link
      rel="stylesheet"
      href="/listYourProperty/chooseYourPropertyType.css"
    />

    <link rel="stylesheet" href="/listYourProperty/chooseYourAmenities.css" />
    <title>Choose your amenities - Airbnb</title>
  </head>
  <body>
    <section class="propertyListingHeader">
      <svg
        viewBox="0 0 32 32"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
        role="presentation"
        focusable="false"
        style="display: block; height: 32px; width: 32px; fill: black"
      >
        <path
          d="M16 1c2.008 0 3.463.963 4.751 3.269l.533 1.025c1.954 3.83 6.114 12.54 7.1 14.836l.145.353c.667 1.591.91 2.472.96 3.396l.01.415.001.228c0 4.062-2.877 6.478-6.357 6.478-2.224 0-4.556-1.258-6.709-3.386l-.257-.26-.172-.179h-.011l-.176.185c-2.044 2.1-4.267 3.42-6.414 3.615l-.28.019-.267.006C5.377 31 2.5 28.584 2.5 24.522l.005-.469c.026-.928.23-1.768.83-3.244l.216-.524c.966-2.298 6.083-12.989 7.707-16.034C12.537 1.963 13.992 1 16 1zm0 2c-1.239 0-2.053.539-2.987 2.21l-.523 1.008c-1.926 3.776-6.06 12.43-7.031 14.692l-.345.836c-.427 1.071-.573 1.655-.605 2.24l-.009.33v.206C4.5 27.395 6.411 29 8.857 29c1.773 0 3.87-1.236 5.831-3.354-2.295-2.938-3.855-6.45-3.855-8.91 0-2.913 1.933-5.386 5.178-5.42 3.223.034 5.156 2.507 5.156 5.42 0 2.456-1.555 5.96-3.855 8.907C19.277 27.766 21.37 29 23.142 29c2.447 0 4.358-1.605 4.358-4.478l-.004-.411c-.019-.672-.17-1.296-.714-2.62l-.248-.6c-1.065-2.478-5.993-12.768-7.538-15.664C18.053 3.539 17.24 3 16 3zm.01 10.316c-2.01.021-3.177 1.514-3.177 3.42 0 1.797 1.18 4.58 2.955 7.044l.21.287.174-.234c1.73-2.385 2.898-5.066 2.989-6.875l.006-.221c0-1.906-1.167-3.4-3.156-3.421h-.001z"
        ></path>
      </svg>
      <div class="propertyListingHeaherQuestions">Questions?</div>
      <div class="propertyListingHeaherSaveExit">Save & exit</div>
    </section>

    <section class="chooseYourPropertyBody">
      <div class="chooseYourPropertyBodyHeading">
        Tell guests what your place has to offer
      </div>
      <section class="chooseEminitiesBody">
        <div class="chooseEminitiesBodyCommonEminitie">
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1187">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#__lottie_element_1187)">
                <g
                  transform="matrix(0.7009999752044678,0,0,0.7009999752044678,17.437000274658203,22.589000701904297)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M-1.437999963760376,5.390999794006348 C-1.437999963760376,4.5970001220703125 -0.7940000295639038,3.953000068664551 0,3.953000068664551 C0.7940000295639038,3.953000068664551 1.437999963760376,4.5970001220703125 1.437999963760376,5.390999794006348 C1.437999963760376,6.184999942779541 0.7940000295639038,6.828000068664551 0,6.828000068664551 C-0.7940000295639038,6.828000068664551 -1.437999963760376,6.184999942779541 -1.437999963760376,5.390999794006348z M2.875,5.390999794006348 C2.875,3.802999973297119 1.5880000591278076,2.5160000324249268 0,2.5160000324249268 C-1.5880000591278076,2.5160000324249268 -2.875,3.802999973297119 -2.875,5.390999794006348 C-2.875,6.979000091552734 -1.5880000591278076,8.265999794006348 0,8.265999794006348 C1.5880000591278076,8.265999794006348 2.875,6.979000091552734 2.875,5.390999794006348z"
                    ></path>
                  </g>
                </g>
                <g
                  transform="matrix(0.7009999752044678,0,0,0.7009999752044678,17.437000274658203,22.589000701904297)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M5.781000137329102,2.484999895095825 C4.7170000076293945,0.3709999918937683 2.5280001163482666,-1.0779999494552612 0,-1.0779999494552612 C0,-1.0779999494552612 0,-1.0779999494552612 0,-1.0779999494552612 C-2.5280001163482666,-1.0779999494552612 -4.7170000076293945,0.3720000088214874 -5.781000137329102,2.484999895095825 C-5.781000137329102,2.484999895095825 -4.692999839782715,3.572999954223633 -4.692999839782715,3.572999954223633 C-3.9639999866485596,1.6929999589920044 -2.138000011444092,0.35899999737739563 0,0.35899999737739563 C2.138000011444092,0.35899999737739563 3.9639999866485596,1.6929999589920044 4.692999839782715,3.572999954223633 C4.692999839782715,3.572999954223633 5.781000137329102,2.484999895095825 5.781000137329102,2.484999895095825z"
                    ></path>
                  </g>
                </g>
                <g
                  transform="matrix(0.7009999752044678,0,0,0.7009999752044678,17.437000274658203,22.589000701904297)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M8.406999588012695,-0.14100000262260437 C6.60699987411499,-2.871000051498413 3.5139999389648438,-4.671999931335449 0,-4.671999931335449 C0,-4.671999931335449 0,-4.671999931335449 0,-4.671999931335449 C-3.5139999389648438,-4.671999931335449 -6.60699987411499,-2.869999885559082 -8.406999588012695,-0.14100000262260437 C-8.406999588012695,-0.14100000262260437 -7.364999771118164,0.8999999761581421 -7.364999771118164,0.8999999761581421 C-5.849999904632568,-1.5789999961853027 -3.118000030517578,-3.2339999675750732 0,-3.2339999675750732 C3.11899995803833,-3.2339999675750732 5.85099983215332,-1.5789999961853027 7.366000175476074,0.9010000228881836 C7.366000175476074,0.9010000228881836 8.406999588012695,-0.14100000262260437 8.406999588012695,-0.14100000262260437z"
                    ></path>
                  </g>
                </g>
                <g
                  transform="matrix(0.7009999752044678,0,0,0.7009999752044678,17.437000274658203,22.589000701904297)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(2,0,0,2,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M10.987000465393066,-2.7209999561309814 C8.5,-6.084000110626221 4.504000186920166,-8.265999794006348 0,-8.265999794006348 C0,-8.265999794006348 0,-8.265999794006348 0,-8.265999794006348 C-4.504000186920166,-8.265999794006348 -8.5,-6.084000110626221 -10.987000465393066,-2.7209999561309814 C-10.987000465393066,-2.7209999561309814 -9.956999778747559,-1.6929999589920044 -9.956999778747559,-1.6929999589920044 C-7.742000102996826,-4.801000118255615 -4.107999801635742,-6.828000068664551 0,-6.828000068664551 C4.107999801635742,-6.828000068664551 7.743000030517578,-4.801000118255615 9.958000183105469,-1.6920000314712524 C9.958000183105469,-1.6920000314712524 10.987000465393066,-2.7209999561309814 10.987000465393066,-2.7209999561309814z"
                    ></path>
                  </g>
                </g>
                <g style="display: none">
                  <g><path></path></g>
                </g>
                <g style="display: none">
                  <g><path></path></g>
                </g>
                <g style="display: none">
                  <g><path></path></g>
                </g>
              </g>
            </svg>
            Wifi
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1523">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#__lottie_element_1523)">
                <g
                  transform="matrix(1.3179999589920044,0,0,1.3179999589920044,16.875,22.625)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M-2.25,6.75 C-2.25,6.75 2.25,6.75 2.25,6.75 C2.25,6.75 2.25,8.25 2.25,8.25 C2.25,8.25 -2.25,8.25 -2.25,8.25 C-2.25,8.25 -2.25,6.75 -2.25,6.75z M-5.25,8.25 C-5.25,8.25 -5.25,9.75 -5.25,9.75 C-5.25,9.75 5.25,9.75 5.25,9.75 C5.25,9.75 5.25,8.25 5.25,8.25 C5.25,8.25 3.75,8.25 3.75,8.25 C3.75,8.25 3.75,6.75 3.75,6.75 C3.75,6.75 4.561999797821045,6.747000217437744 4.561999797821045,6.747000217437744 C4.561999797821045,6.747000217437744 4.724999904632568,6.743000030517578 4.724999904632568,6.743000030517578 C6.7210001945495605,6.6579999923706055 6.611999988555908,5.836999893188477 4.59499979019165,5.836999893188477 C4.59499979019165,5.836999893188477 -4.816999912261963,5.843999862670898 -4.816999912261963,5.843999862670898 C-6.813000202178955,5.928999900817871 -6.704999923706055,6.75 -4.688000202178955,6.75 C-4.688000202178955,6.75 -3.75,6.75 -3.75,6.75 C-3.75,6.75 -3.75,8.25 -3.75,8.25 C-3.75,8.25 -5.25,8.25 -5.25,8.25z"
                    ></path>
                  </g>
                </g>
                <g style="display: none">
                  <g><path></path></g>
                </g>
                <g style="display: none">
                  <g><path></path></g>
                </g>
                <g
                  transform="matrix(1.3179999589920044,0,0,1.3179999589920044,16.875,22.625)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M-7.5,-8.25 C-7.5,-8.25 7.5,-8.25 7.5,-8.25 C7.5,-8.25 7.631999969482422,-8.246000289916992 7.631999969482422,-8.246000289916992 C8.812999725341797,-8.178000450134277 9.75,-7.197999954223633 9.75,-6 C9.75,-6 9.75,3 9.75,3 C9.75,3 9.746000289916992,3.131999969482422 9.746000289916992,3.131999969482422 C9.678000450134277,4.313000202178955 8.697999954223633,5.25 7.5,5.25 C7.5,5.25 -7.5,5.25 -7.5,5.25 C-7.5,5.25 -7.631999969482422,5.245999813079834 -7.631999969482422,5.245999813079834 C-8.812999725341797,5.177999973297119 -9.75,4.197999954223633 -9.75,3 C-9.75,3 -9.75,-6 -9.75,-6 C-9.75,-6 -9.746000289916992,-6.131999969482422 -9.746000289916992,-6.131999969482422 C-9.678000450134277,-7.313000202178955 -8.697999954223633,-8.25 -7.5,-8.25z M3.75,6.75 C3.75,6.75 7.5,6.75 7.5,6.75 C7.5,6.75 7.663000106811523,6.747000217437744 7.663000106811523,6.747000217437744 C9.659000396728516,6.6620001792907715 11.25,5.017000198364258 11.25,3 C11.25,3 11.25,-6 11.25,-6 C11.25,-6 11.246999740600586,-6.163000106811523 11.246999740600586,-6.163000106811523 C11.161999702453613,-8.159000396728516 9.517000198364258,-9.75 7.5,-9.75 C7.5,-9.75 -7.5,-9.75 -7.5,-9.75 C-7.5,-9.75 -7.663000106811523,-9.746999740600586 -7.663000106811523,-9.746999740600586 C-9.659000396728516,-9.661999702453613 -11.25,-8.017000198364258 -11.25,-6 C-11.25,-6 -11.25,3 -11.25,3 C-11.25,3 -11.246999740600586,3.1630001068115234 -11.246999740600586,3.1630001068115234 C-11.161999702453613,5.158999919891357 -9.517000198364258,6.75 -7.5,6.75 C-7.5,6.75 -3.75,6.75 -3.75,6.75 C-3.75,6.75 3.75,6.75 3.75,6.75z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            TV
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1537">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
                <mask id="__lottie_element_1548" mask-type="alpha">
                  <g style="display: none">
                    <g><path></path></g>
                  </g>
                </mask>
                <mask id="__lottie_element_1554" mask-type="alpha">
                  <g style="display: none">
                    <g><path></path></g>
                  </g>
                </mask>
              </defs>
              <g clip-path="url(#__lottie_element_1537)">
                <g
                  transform="matrix(1,0,0,1,-23.5,-17.5)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,40,40)"></g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,40)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-12,-13 C-12,-13 12,-13 12,-13 C12.552000045776367,-13 13,-12.552000045776367 13,-12 C13,-12 13,12 13,12 C13,12.552000045776367 12.552000045776367,13 12,13 C12,13 -12,13 -12,13 C-12.552000045776367,13 -13,12.552000045776367 -13,12 C-13,12 -13,-12 -13,-12 C-13,-12.552000045776367 -12.552000045776367,-13 -12,-13z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,35)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M13,0 C13,0 -13,0 -13,0"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,49,31)">
                    <path
                      fill="rgb(0,0,0)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,43,31)">
                    <path
                      fill="rgb(0,0,0)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,37,31)">
                    <path
                      fill="rgb(0,0,0)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,31,31)">
                    <path
                      fill="rgb(0,0,0)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                </g>
                <g mask="url(#__lottie_element_1554)" style="display: none">
                  <g>
                    <g></g>
                    <g>
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="miter"
                        fill-opacity="0"
                        stroke-miterlimit="4"
                      ></path>
                    </g>
                    <g>
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="miter"
                        fill-opacity="0"
                        stroke-miterlimit="4"
                      ></path>
                    </g>
                    <g><path></path></g>
                    <g><path></path></g>
                    <g><path></path></g>
                    <g><path></path></g>
                  </g>
                </g>
                <g mask="url(#__lottie_element_1548)" style="display: none">
                  <g>
                    <g>
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="round"
                        fill-opacity="0"
                      ></path>
                    </g>
                  </g>
                </g>
                <g style="display: none">
                  <g></g>
                  <g>
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                    ></path>
                  </g>
                  <g>
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                    ></path>
                  </g>
                  <g><path></path></g>
                  <g><path></path></g>
                  <g><path></path></g>
                  <g><path></path></g>
                </g>
                <g style="display: none">
                  <g>
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                    ></path>
                  </g>
                  <g>
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                    ></path>
                  </g>
                </g>
                <g
                  transform="matrix(1,0,0,1,-23.5,-17.5)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,40,44)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-9,-5 C-9,-5 9,-5 9,-5 C9,-5 9,5 9,5 C9,5 -9,5 -9,5 C-9,5 -9,-5 -9,-5z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,35)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M13,0 C13,0 -13,0 -13,0"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            Kitchen
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1563">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
                <clipPath id="__lottie_element_1569">
                  <path
                    fill="#ffffff"
                    clip-rule="nonzero"
                    d=" M0.12700000405311584,-9.539999961853027 C-4.658999919891357,-9.539999961853027 -8.538000106811523,-5.660999774932861 -8.538000106811523,-0.875 C-8.538000106811523,3.9110000133514404 -4.658999919891357,7.790999889373779 0.12700000405311584,7.790999889373779 C4.913000106811523,7.790999889373779 8.791999816894531,3.9110000133514404 8.791999816894531,-0.875 C8.791999816894531,-5.660999774932861 4.913000106811523,-9.539999961853027 0.12700000405311584,-9.539999961853027"
                    fill-opacity="1"
                  ></path>
                </clipPath>
              </defs>
              <g clip-path="url(#__lottie_element_1563)">
                <g
                  clip-path="url(#__lottie_element_1569)"
                  transform="matrix(1,0,0,1,16,23.875)"
                  opacity="1"
                  style="display: block"
                >
                  <g
                    opacity="1"
                    transform="matrix(1,0,0,1,0.28600001335144043,15.517000198364258)"
                  >
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M32.7140007019043,20.482999801635742 C32.7140007019043,17.759000778198242 32.7140007019043,15.02299976348877 32.7140007019043,12.211999893188477 C32.7140007019043,9.401000022888184 32.7140007019043,6.513000011444092 32.7140007019043,3.4830000400543213 C32.7140007019043,0.3880000114440918 33.125999450683594,-3.4749999046325684 33.332000732421875,-6.882999897003174 C33.53799819946289,-10.291000366210938 33.5369987487793,-13.243000030517578 32.7140007019043,-14.517000198364258 C32.64799880981445,-14.618000030517578 31.975000381469727,-14.618000030517578 31.27899932861328,-14.593000411987305 C30.583999633789062,-14.567999839782715 29.865999221801758,-14.517000198364258 29.714000701904297,-14.517000198364258 C25.604000091552734,-14.517000198364258 24.915000915527344,-16.22100067138672 22.714000701904297,-17.517000198364258 C20.382999420166016,-18.889999389648438 19.56399917602539,-19.562999725341797 16.714000701904297,-19.517000198364258 C10.833000183105469,-19.422000885009766 8.479000091552734,-14.416000366210938 3.7139999866485596,-14.517000198364258 C-1.128999948501587,-14.619000434875488 -4.960000038146973,-20.65999984741211 -9.28600025177002,-20.517000198364258 C-13.208000183105469,-20.386999130249023 -16.910999298095703,-14.539999961853027 -21.285999298095703,-14.517000198364258 C-26.468000411987305,-14.48900032043457 -29.04800033569336,-20.535999298095703 -33.2859992980957,-18.517000198364258 C-31.55900001525879,-5.132999897003174 -35.78900146484375,7.196000099182129 -33.2859992980957,13.482999801635742 C-32.76599884033203,14.788999557495117 -30.07699966430664,16.288999557495117 -28.285999298095703,17.482999801635742 C-25.760000228881836,19.167999267578125 -23.89900016784668,20.490999221801758 -21.285999298095703,20.482999801635742 C-16.674999237060547,20.4689998626709 -13.729000091552734,14.425000190734863 -8.28600025177002,14.482999801635742 C-4.4079999923706055,14.52400016784668 0.23499999940395355,20.590999603271484 4.714000225067139,20.482999801635742 C10.076000213623047,20.35300064086914 11.866999626159668,14.29800033569336 17.714000701904297,14.482999801635742 C23.378999710083008,14.663000106811523 25.434999465942383,22.475000381469727 32.7140007019043,20.482999801635742z"
                    ></path>
                  </g>
                </g>
                <g
                  transform="matrix(1,0,0,1,-24,-16.125)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,40,39)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-12,-13 C-12,-13 12,-13 12,-13 C12.552000045776367,-13 13,-12.552000045776367 13,-12 C13,-12 13,12 13,12 C13,12.552000045776367 12.552000045776367,13 12,13 C12,13 -12,13 -12,13 C-12.552000045776367,13 -13,12.552000045776367 -13,12 C-13,12 -13,-12 -13,-12 C-13,-12.552000045776367 -12.552000045776367,-13 -12,-13z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,39)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M0,-8 C4.418000221252441,-8 8,-4.418000221252441 8,0 C8,4.418000221252441 4.418000221252441,8 0,8 C-4.418000221252441,8 -8,4.418000221252441 -8,0 C-8,-4.418000221252441 -4.418000221252441,-8 0,-8z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,31,30)">
                    <path
                      fill="rgb(0,0,0)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            Washing machine
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1571">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
                <clipPath id="__lottie_element_1573">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
                <clipPath id="__lottie_element_1576">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
                <clipPath id="__lottie_element_1579">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
                <clipPath id="__lottie_element_1582">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
                <clipPath id="__lottie_element_1585">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
                <clipPath id="__lottie_element_1588">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
                <clipPath id="__lottie_element_1591">
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                  <path fill="#ffffff" clip-rule="nonzero"></path>
                </clipPath>
              </defs>
              <g clip-path="url(#__lottie_element_1571)">
                <g
                  transform="matrix(1.0000008344650269,0,0,1.0000008344650269,-24.00003433227539,-18.374406814575195)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,51,50)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-2,-2 C-2,-2 2,-2 2,-2 C2,-2 2,1 2,1 C2,1.5520000457763672 1.5520000457763672,2 1,2 C1,2 -1,2 -1,2 C-1.5520000457763672,2 -2,1.5520000457763672 -2,1 C-2,1 -2,-2 -2,-2 C-2,-2 -2,-2 -2,-2z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,29,50)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-2,-2 C-2,-2 2,-2 2,-2 C2,-2 2,1 2,1 C2,1.5520000457763672 1.5520000457763672,2 1,2 C1,2 -1,2 -1,2 C-1.5520000457763672,2 -2,1.5520000457763672 -2,1 C-2,1 -2,-2 -2,-2 C-2,-2 -2,-2 -2,-2z"
                    ></path>
                  </g>
                </g>
                <g
                  transform="matrix(1.0000008344650269,0,0,1.0000008344650269,-24.00003433227539,-18.374406814575195)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,40,43)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-9,-5 C-9,-5 9,-5 9,-5 C11.208999633789062,-5 13,-3.2090001106262207 13,-1 C13,-1 13,4 13,4 C13,4.552000045776367 12.552000045776367,5 12,5 C12,5 -12,5 -12,5 C-12.552000045776367,5 -13,4.552000045776367 -13,4 C-13,4 -13,-1 -13,-1 C-13,-3.2090001106262207 -11.208999633789062,-5 -9,-5z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,49,43)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,31,43)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M0,-1 C0.5519999861717224,-1 1,-0.5519999861717224 1,0 C1,0.5519999861717224 0.5519999861717224,1 0,1 C-0.5519999861717224,1 -1,0.5519999861717224 -1,0 C-1,-0.5519999861717224 -0.5519999861717224,-1 0,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,34)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-7.307000160217285,-4 C-7.307000160217285,-4 7.307000160217285,-4 7.307000160217285,-4 C7.723999977111816,-4 8.097000122070312,-3.740999937057495 8.243000030517578,-3.3510000705718994 C8.243000030517578,-3.3510000705718994 11,4 11,4 C11,4 11,4 11,4 C11,4 -11,4 -11,4 C-11,4 -8.243000030517578,-3.3510000705718994 -8.243000030517578,-3.3510000705718994 C-8.097000122070312,-3.740999937057495 -7.723999977111816,-4 -7.307000160217285,-4z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,27.5,36)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M-1.5,-1 C-1.5,-1 1.5,-1 1.5,-1 C1.5,-1 1.5,1 1.5,1 C1.5,1 -1.5,1 -1.5,1 C-1.5,1 -1.5,-1 -1.5,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,52.5,36)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M-1.5,-1 C-1.5,-1 1.5,-1 1.5,-1 C1.5,-1 1.5,1 1.5,1 C1.5,1 -1.5,1 -1.5,1 C-1.5,1 -1.5,-1 -1.5,-1z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,43)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-6,0 C-6,0 6,0 6,0"
                    ></path>
                  </g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1591)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1588)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1585)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1582)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1579)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1576)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
                <g
                  clip-path="url(#__lottie_element_1573)"
                  style="display: none"
                >
                  <g><path></path></g>
                </g>
              </g>
            </svg>
            Free parking on premises
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1601">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
                <mask id="__lottie_element_1602" mask-type="alpha">
                  <g
                    transform="matrix(1,0,0,1,-24.875,-16.75)"
                    opacity="1"
                    style="display: block"
                  >
                    <g opacity="1" transform="matrix(1,0,0,1,40,38)">
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="miter"
                        fill-opacity="0"
                        stroke-miterlimit="4"
                        stroke="rgb(34,34,34)"
                        stroke-opacity="1"
                        stroke-width="2"
                        d=" M0,-13 C6.626999855041504,-13 12,-7.138000011444092 12,-1.2760000228881836 C13.241999626159668,-24.229000091552734 7.079999923706055,-34.11000061035156 7.079999923706055,-34.11000061035156 C7.079999923706055,-34.11000061035156 -7.150000095367432,-34.11000061035156 -7.150000095367432,-34.11000061035156 C-7.150000095367432,-34.11000061035156 -15.02400016784668,-26.775999069213867 -12,-1.2760000228881836 C-12,-7.750999927520752 -6.626999855041504,-13 0,-13z"
                      ></path>
                      <path
                        fill="rgb(0,0,0)"
                        fill-opacity="1"
                        d=" M0,-13 C6.626999855041504,-13 12,-7.138000011444092 12,-1.2760000228881836 C13.241999626159668,-24.229000091552734 7.079999923706055,-34.11000061035156 7.079999923706055,-34.11000061035156 C7.079999923706055,-34.11000061035156 -7.150000095367432,-34.11000061035156 -7.150000095367432,-34.11000061035156 C-7.150000095367432,-34.11000061035156 -15.02400016784668,-26.775999069213867 -12,-1.2760000228881836 C-12,-7.750999927520752 -6.626999855041504,-13 0,-13z"
                      ></path>
                    </g>
                  </g>
                </mask>
              </defs>
              <g clip-path="url(#__lottie_element_1601)">
                <g
                  transform="matrix(1,0,0,1,-24.875,-16.75)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,40,40)"></g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,38)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M0,-13 C6.626999855041504,-13 12,-7.138000011444092 12,-1.2760000228881836 C12,3.5199999809265137 10.371999740600586,8.279000282287598 7.114999771118164,13 C7.114999771118164,13 -7.114999771118164,13 -7.114999771118164,13 C-10.371999740600586,8.279000282287598 -12,3.5199999809265137 -12,-1.2760000228881836 C-12,-7.750999927520752 -6.626999855041504,-13 0,-13z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,44)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M0,-2.375 C1.312000036239624,-2.375 2.375,-1.312000036239624 2.375,0 C2.375,1.312000036239624 1.312000036239624,2.375 0,2.375 C-1.312000036239624,2.375 -2.375,1.312000036239624 -2.375,0 C-2.375,-1.312000036239624 -1.312000036239624,-2.375 0,-2.375z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,33)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M8,4 C8,-0.4180000126361847 4.418000221252441,-4 0,-4 C-4.418000221252441,-4 -8,-0.4180000126361847 -8,4 C2.6670000553131104,4 8,4 8,4z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,41.5,35)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="round"
                      fill-opacity="0"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-1.5,2 C-1.5,2 1.5,-2 1.5,-2"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,54)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="miter"
                      fill-opacity="0"
                      stroke-miterlimit="4"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M0,-2 C0,-2 0,2 0,2"
                    ></path>
                  </g>
                </g>
                <g mask="url(#__lottie_element_1602)" style="display: block">
                  <g transform="matrix(0,0,0,0,15.125,-4.875)" opacity="1">
                    <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="miter"
                        fill-opacity="0"
                        stroke-miterlimit="4"
                        stroke="rgb(34,34,34)"
                        stroke-opacity="1"
                        stroke-width="2"
                        d=" M0,-2.4565000534057617 C1.355742335319519,-2.4565000534057617 2.4565000534057617,-1.355742335319519 2.4565000534057617,0 C2.4565000534057617,1.355742335319519 1.355742335319519,2.4565000534057617 0,2.4565000534057617 C-1.355742335319519,2.4565000534057617 -2.4565000534057617,1.355742335319519 -2.4565000534057617,0 C-2.4565000534057617,-1.355742335319519 -1.355742335319519,-2.4565000534057617 0,-2.4565000534057617z"
                      ></path>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
            Paid parking on premises
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1612">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#__lottie_element_1612)">
                <g
                  transform="matrix(1,0,0,1,-24.105998992919922,-17.612998962402344)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <path
                      fill="rgb(34,34,34)"
                      fill-opacity="1"
                      d=" M40.983001708984375,25.160999298095703 C40.983001708984375,25.160999298095703 40.983001708984375,29.19099998474121 40.983001708984375,29.19099998474121 C40.983001708984375,29.19099998474121 45.00899887084961,26.865999221801758 45.00899887084961,26.865999221801758 C45.00899887084961,26.865999221801758 46.00899887084961,28.599000930786133 46.00899887084961,28.599000930786133 C46.00899887084961,28.599000930786133 40.983001708984375,31.5 40.983001708984375,31.5 C40.983001708984375,31.5 40.983001708984375,38.428001403808594 40.983001708984375,38.428001403808594 C40.983001708984375,38.428001403808594 46.983001708984375,34.9640007019043 46.983001708984375,34.9640007019043 C46.983001708984375,34.9640007019043 46.983001708984375,29.160999298095703 46.983001708984375,29.160999298095703 C46.983001708984375,29.160999298095703 48.983001708984375,29.160999298095703 48.983001708984375,29.160999298095703 C48.983001708984375,29.160999298095703 48.983001708984375,33.808998107910156 48.983001708984375,33.808998107910156 C48.983001708984375,33.808998107910156 52.4739990234375,31.795000076293945 52.4739990234375,31.795000076293945 C52.4739990234375,31.795000076293945 53.4739990234375,33.527000427246094 53.4739990234375,33.527000427246094 C53.4739990234375,33.527000427246094 49.983001708984375,35.54199981689453 49.983001708984375,35.54199981689453 C49.983001708984375,35.54199981689453 54.00899887084961,37.86600112915039 54.00899887084961,37.86600112915039 C54.00899887084961,37.86600112915039 53.00899887084961,39.5989990234375 53.00899887084961,39.5989990234375 C53.00899887084961,39.5989990234375 47.983001708984375,36.69599914550781 47.983001708984375,36.69599914550781 C47.983001708984375,36.69599914550781 41.983001708984375,40.15999984741211 41.983001708984375,40.15999984741211 C41.983001708984375,40.15999984741211 47.98400115966797,43.625 47.98400115966797,43.625 C47.98400115966797,43.625 53.00899887084961,40.722999572753906 53.00899887084961,40.722999572753906 C53.00899887084961,40.722999572753906 54.00899887084961,42.45500183105469 54.00899887084961,42.45500183105469 C54.00899887084961,42.45500183105469 49.983001708984375,44.77899932861328 49.983001708984375,44.77899932861328 C49.983001708984375,44.77899932861328 53.4739990234375,46.79499816894531 53.4739990234375,46.79499816894531 C53.4739990234375,46.79499816894531 52.4739990234375,48.527000427246094 52.4739990234375,48.527000427246094 C52.4739990234375,48.527000427246094 48.983001708984375,46.512001037597656 48.983001708984375,46.512001037597656 C48.983001708984375,46.512001037597656 48.983001708984375,51.1609992980957 48.983001708984375,51.1609992980957 C48.983001708984375,51.1609992980957 46.983001708984375,51.1609992980957 46.983001708984375,51.1609992980957 C46.983001708984375,51.1609992980957 46.983001708984375,45.356998443603516 46.983001708984375,45.356998443603516 C46.983001708984375,45.356998443603516 40.983001708984375,41.891998291015625 40.983001708984375,41.891998291015625 C40.983001708984375,41.891998291015625 40.983001708984375,48.82099914550781 40.983001708984375,48.82099914550781 C40.983001708984375,48.82099914550781 46.00899887084961,51.722999572753906 46.00899887084961,51.722999572753906 C46.00899887084961,51.722999572753906 45.00899887084961,53.45500183105469 45.00899887084961,53.45500183105469 C45.00899887084961,53.45500183105469 40.983001708984375,51.130001068115234 40.983001708984375,51.130001068115234 C40.983001708984375,51.130001068115234 40.983001708984375,55.1609992980957 40.983001708984375,55.1609992980957 C40.983001708984375,55.1609992980957 38.983001708984375,55.1609992980957 38.983001708984375,55.1609992980957 C38.983001708984375,55.1609992980957 38.983001708984375,51.130001068115234 38.983001708984375,51.130001068115234 C38.983001708984375,51.130001068115234 34.957000732421875,53.45500183105469 34.957000732421875,53.45500183105469 C34.957000732421875,53.45500183105469 33.957000732421875,51.722999572753906 33.957000732421875,51.722999572753906 C33.957000732421875,51.722999572753906 38.983001708984375,48.82099914550781 38.983001708984375,48.82099914550781 C38.983001708984375,48.82099914550781 38.983001708984375,41.891998291015625 38.983001708984375,41.891998291015625 C38.983001708984375,41.891998291015625 32.983001708984375,45.35599899291992 32.983001708984375,45.35599899291992 C32.983001708984375,45.35599899291992 32.983001708984375,51.1609992980957 32.983001708984375,51.1609992980957 C32.983001708984375,51.1609992980957 30.982999801635742,51.1609992980957 30.982999801635742,51.1609992980957 C30.982999801635742,51.1609992980957 30.982999801635742,46.51100158691406 30.982999801635742,46.51100158691406 C30.982999801635742,46.51100158691406 27.493000030517578,48.527000427246094 27.493000030517578,48.527000427246094 C27.493000030517578,48.527000427246094 26.493000030517578,46.79499816894531 26.493000030517578,46.79499816894531 C26.493000030517578,46.79499816894531 29.98200035095215,44.77899932861328 29.98200035095215,44.77899932861328 C29.98200035095215,44.77899932861328 25.957000732421875,42.45500183105469 25.957000732421875,42.45500183105469 C25.957000732421875,42.45500183105469 26.957000732421875,40.722999572753906 26.957000732421875,40.722999572753906 C26.957000732421875,40.722999572753906 31.98200035095215,43.624000549316406 31.98200035095215,43.624000549316406 C31.98200035095215,43.624000549316406 37.981998443603516,40.15999984741211 37.981998443603516,40.15999984741211 C37.981998443603516,40.15999984741211 31.982999801635742,36.69599914550781 31.982999801635742,36.69599914550781 C31.982999801635742,36.69599914550781 26.957000732421875,39.5989990234375 26.957000732421875,39.5989990234375 C26.957000732421875,39.5989990234375 25.957000732421875,37.86600112915039 25.957000732421875,37.86600112915039 C25.957000732421875,37.86600112915039 29.982999801635742,35.54199981689453 29.982999801635742,35.54199981689453 C29.982999801635742,35.54199981689453 26.493000030517578,33.527000427246094 26.493000030517578,33.527000427246094 C26.493000030517578,33.527000427246094 27.493000030517578,31.795000076293945 27.493000030517578,31.795000076293945 C27.493000030517578,31.795000076293945 30.982999801635742,33.808998107910156 30.982999801635742,33.808998107910156 C30.982999801635742,33.808998107910156 30.982999801635742,29.160999298095703 30.982999801635742,29.160999298095703 C30.982999801635742,29.160999298095703 32.983001708984375,29.160999298095703 32.983001708984375,29.160999298095703 C32.983001708984375,29.160999298095703 32.983001708984375,34.9640007019043 32.983001708984375,34.9640007019043 C32.983001708984375,34.9640007019043 38.983001708984375,38.428001403808594 38.983001708984375,38.428001403808594 C38.983001708984375,38.428001403808594 38.983001708984375,31.5 38.983001708984375,31.5 C38.983001708984375,31.5 33.957000732421875,28.599000930786133 33.957000732421875,28.599000930786133 C33.957000732421875,28.599000930786133 34.957000732421875,26.865999221801758 34.957000732421875,26.865999221801758 C34.957000732421875,26.865999221801758 38.983001708984375,29.19099998474121 38.983001708984375,29.19099998474121 C38.983001708984375,29.19099998474121 38.983001708984375,25.160999298095703 38.983001708984375,25.160999298095703 C38.983001708984375,25.160999298095703 40.983001708984375,25.160999298095703 40.983001708984375,25.160999298095703z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            Air conditioning
          </div>
          <div class="chooseEminitiesBodyCommonEminities">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 45 45"
              width="45"
              height="45"
              preserveAspectRatio="xMidYMid meet"
              style="
                transform: translate3d(0px, 0px, 0px);
                content-visibility: visible;
              "
            >
              <defs>
                <clipPath id="__lottie_element_1617">
                  <rect width="45" height="45" x="0" y="0"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#__lottie_element_1617)">
                <g
                  transform="matrix(1,0,0,1,-23,-18.625)"
                  opacity="1"
                  style="display: block"
                >
                  <g opacity="1" transform="matrix(1,0,0,1,0,0)">
                    <g opacity="1" transform="matrix(1,0,0,1,40,41)">
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="round"
                        fill-opacity="0"
                        stroke="rgb(34,34,34)"
                        stroke-opacity="1"
                        stroke-width="2"
                        d=" M-15,0 C-15,0 15,0 15,0"
                      ></path>
                    </g>
                    <g opacity="1" transform="matrix(1,0,0,1,28,48)">
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="round"
                        fill-opacity="0"
                        stroke="rgb(34,34,34)"
                        stroke-opacity="1"
                        stroke-width="2"
                        d=" M0,7 C0,7 0,-7 0,-7"
                      ></path>
                    </g>
                    <g opacity="1" transform="matrix(1,0,0,1,52,48)">
                      <path
                        stroke-linecap="butt"
                        stroke-linejoin="round"
                        fill-opacity="0"
                        stroke="rgb(34,34,34)"
                        stroke-opacity="1"
                        stroke-width="2"
                        d=" M0,7 C0,7 0,-7 0,-7"
                      ></path>
                    </g>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,40,46.5)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="round"
                      fill-opacity="0"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-12,-5.5 C-12,-5.5 12,-5.5 12,-5.5 C12,-5.5 12,2.5 12,2.5 C12,4.1570000648498535 10.656999588012695,5.5 9,5.5 C9,5.5 -9,5.5 -9,5.5 C-10.656999588012695,5.5 -12,4.1570000648498535 -12,2.5 C-12,2.5 -12,-5.5 -12,-5.5z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,48,37)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="round"
                      fill-opacity="0"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M0,3 C0,3 0,-3 0,-3"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,48,31.5)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="round"
                      fill-opacity="0"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-2,-3.5 C-2,-3.5 2,-3.5 2,-3.5 C2,-3.5 4,3.5 4,3.5 C4,3.5 -4,3.5 -4,3.5 C-4,3.5 -2,-3.5 -2,-3.5z"
                    ></path>
                  </g>
                  <g opacity="1" transform="matrix(1,0,0,1,33.5,38.5)">
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="round"
                      fill-opacity="0"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M-2.5,-2.5 C-2.5,-2.5 2.5,-2.5 2.5,-2.5 C2.5,-2.5 2.5,2.5 2.5,2.5 C2.5,2.5 -2.5,2.5 -2.5,2.5 C-2.5,2.5 -2.5,-2.5 -2.5,-2.5z"
                    ></path>
                  </g>
                  <g
                    opacity="1"
                    transform="matrix(1,0,0,1,31.895999908447266,34.013999938964844)"
                  >
                    <path
                      stroke-linecap="butt"
                      stroke-linejoin="round"
                      fill-opacity="0"
                      stroke="rgb(34,34,34)"
                      stroke-opacity="1"
                      stroke-width="2"
                      d=" M0.8960000276565552,2.0139999389648438 C0.8960000276565552,2.0139999389648438 -0.8960000276565552,-2.0139999389648438 -0.8960000276565552,-2.0139999389648438"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            Dedicated workspace
          </div>
        </div>
      </section>
    </section>

    <section class="propertyListingFooter">
      <a href="/listYourProperty/chooseRoomAccomodation"
        ><div class="propertyListingFooterBack">Back</div></a
      >
      <a href="/listYourProperty/addSomePhotosHostProperty"
        ><div class="propertyListingFooterNext">Next</div></a
      >
    </section>
  </body>
</html>
